html {
  width: 100%;
  height: 100%;
}

@media(prefers-color-scheme: light) {
  html {
    background-color: antiquewhite;
    color: black;
  }
}

@media(prefers-color-scheme: dark) {
  html {
    background-color: #051448; /* Just the inverted color, no multiplication */
    color: white;
  }
}

body {
  margin: 0 10vw 0 10vw;
}

@media(max-width: 800px) {
  body {
    margin: 0 5vw 0 2vw;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
