@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.story {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 50px;
  animation: floating 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  padding: 10px;
  font-size: 20px;
  font-family: "Roboto Mono";
}

@media(prefers-color-scheme: light) {
  .story {
    background-color: aliceblue;
    box-shadow: 10px 10px gray;
  }
}

@media(prefers-color-scheme: dark) {
  .story {
    background-color: #1d0e00; /* Inverted color times two for a little pop */
    box-shadow: 10px 10px #6f6f6f;
  }
}

.loading {
  margin: auto;
  text-align: center;
  font-family: "Rubik Bubbles";
}