.story {
  font-size: 1em;
  font-family: "Roboto Mono";
  padding: 2em;
  margin: 1em;
  border-radius: 2em;

  background-clip:
    padding-box, /* Clip white semi-transparent to the padding-box */
    border-box /* Clip colored boxes to the border-box (default) */
  ;
  border: 0.3rem dotted transparent;
  background-origin: border-box;
  color: black;

  background-image:
    linear-gradient(to right, rgb(255 255 255 / 0.5), rgb(255 255 255 / 0.5)),

    conic-gradient(
      from 45deg, /* In case Houdini is not supported fallback to this. */
      #d53e33 0deg 90deg,
      #fbb300 90deg 180deg,
      #377af5 180deg 270deg,
      #399953 270deg 360deg
    )
  ;
}

@supports (background: paint(something)) {
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }

  .story {
    background-image:
      linear-gradient(
        to right,
        rgb(255 255 255 / 0.5),
        rgb(255 255 255 / 0.5)
      ),

      conic-gradient(
        from var(--angle),
        #d53e33 0deg 90deg,
        #fbb300 90deg 180deg,
        #377af5 180deg 270deg,
        #399953 270deg 360deg
      )
    ;

    animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
  }

  .img {
    left: calc(10px * cos(var(--angle)));
    animation: rotate 4s linear infinite;
  }
}

@media(min-width: 800px) {
  .story {
    display: grid;
    grid-template-columns: "1fr 1fr";
    grid-template-rows: "1fr 1fr";
    column-gap: 5em;
    row-gap: 5em;
  }
}

@media(max-width: 800px) {
  .story {
    display: flex;
    flex-direction: column;
  }
  .img {
    order: -1;
    justify-content: center;
  }
}

.story-text {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
}

.story-test {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  place-content: center;
}

.img {
  display: flex;
  position: relative;
  align-items: center;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.paused {
  animation-play-state: paused;
}