.test {
    border-radius: 20px;
    border: groove thick;
    padding: 10px;
    margin: 10px;
}

.heading {
    text-align: center;
    margin: auto;
    font-family: "Pacifico";
}

.flush {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: "stretch";
    font-weight: bold;
}

.textarea {
    border-radius: 5px;
}

.test {
    background-color: #001d0e; /* Inverted color times two for a little pop */
    color: white;
    border-color: white;
}