.heading {
    text-align: center;
    margin: auto;
    font-family: "Pacifico";
}

.flush {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: "stretch";
    font-weight: bold;
    background-color: white;
}

.test {
    background-image: url("../assets/jamboard.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}